@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap'); 

*{padding: 0%;box-sizing: border-box;margin: 0%;
    font-family:'Outfit';

}

body{
height: 100vh;
background-color: hsl(212, 45%, 89%);
display: flex;
justify-content: center;
align-items: center; 
}
.main-div{   
background-color: rgb(255, 255, 255);
width: 310px;
border-radius: 2ch;

}
.content{

border-radius:3ch;padding: 15px;}

img{
max-width: 100%;
border-radius:10px;}

.texts{
display: flex;
row-gap:20px;  
text-align:center;
flex-direction: column;
padding: 7%;
height: 175px;

}
.main-p{color:hsl(218, 44%, 22%);
font-size: 21px;
font-weight: 700;
;}

.secundary-p{color: hsl(216, 15%, 48%);  
font-size: 15px;font-weight: 400;
}