@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap'); 

*{padding: 0%;box-sizing: border-box;margin: 0%;
    font-family:'Outfit';

}

body{
height: 100vh;
background-color: hsl(212, 45%, 89%);
display: flex;
justify-content: center;
align-items: center; 
}
.main-div{   
background-color: rgb(255, 255, 255);
width: 300px;
display: grid;
justify-items: center;
border-radius: 2ch;

}
img{
max-width: 100%;
padding:5%;
border-radius:3ch;}

.texts{display: grid;
text-align:center;
width: 100%;
padding: 10%;

}
h3{color:hsl(218, 44%, 22%);font-weight: 700;}
p{color: hsl(216, 15%, 48%);  
font-size: 15px;}